<h3>Responsive Values Demo</h3>
<p>Items per row: {{ itemsPerRow() }}</p>

<div
  fireFlex
  [justifyContent]="{
    mobile: 'center',
  }"
  flexWrap="wrap"
  flexDirection="row"
  gap="10px"
>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>
