<h3>Responsive Values Demo</h3>
<p>Items per row: {{ title() }}</p>

<!-- <div
  fireBox
  gap="10px"
  flexDirection="row"
  flexWrap="wrap"
  justifyContent="center"
  display="flex"
  [alignContent]="{ mobile: 'space-between', tablet: 'space-evenly' }"
>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div> -->
<div
  fireBox
  display="flex"
  [flexDirection]="{ xs: 'column', md: 'row' }"
  [justifyContent]="{
    xs: 'flex-start',
    md: 'space-between',
    lg: 'space-around'
  }"
  [gap]="{ xs: '0.5rem', md: '1rem', lg: '2rem' }"
>
  <span>Small Screen</span>
  <span>Medium Screen</span>
  <span>Large Screen</span>
</div>
